@model BlogCore.Models.CategoriaProducto

@{
    ViewData["Title"] = "Crear Categoria Producto";
}

<div class="container mt-4">
    <h1 class="text-center">Crear Categoria Producto</h1>

    @await Html.PartialAsync("~/Views/Shared/Formularios/_FormularioCategoriaProducto.cshtml", 
    new BlogCore.Models.ModelView.CategoriaProductoViewModel()
    {
        categoriaProducto = Model,
        mensajeBoton = "Crear Categoria Producto",
        metodo = "POST"
    })
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
