@model BlogCore.Models.ModelView.HomeViewModel;

@{
    ViewData["Title"] = "Inicio";
}

@section Estilos { <link rel="stylesheet" href="~/css/estilosPresentacionProductosArticulos.css"/> }

<div class="container">
    <div class="row mt-4">
        <div class="col-sm-12">
            <h1 class="text-center text-black bg-secondary py-1">Articulos Geniales</h1>
        </div>

        <div id="carruselArticulos" class="carousel slide"> 
            <div class="carousel-inner" id="carrusel-articulos">
                
            </div> 
            <button 
                class="carousel-control-prev bg-black rounded-circle"
                style="height: 12%; width: 5%; margin-top: 5%;"
                type="button"
                id="btnArtcLeft"
                data-bs-target="#carruselArticulos"
                data-bs-slide="prev"> 
                <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
                <span class="visually-hidden">Previous</span> 
            </button> 
            <button 
                class="carousel-control-next bg-black rounded-circle" 
                type="button" 
                id="btnArtcRight"
                style="height: 12%; width: 5%; margin-top: 5%;"
                data-bs-target="#carruselArticulos"
                data-bs-slide="next"> 
                <span class="carousel-control-next-icon" aria-hidden="true"></span> 
                <span class="visually-hidden">Next</span> 
            </button> 
        </div>
    </div>
</div>

@* Separacion con una imagen informativa *@
<div class="row mt-4 mb-4"> 
    <img src="~/pictures/personalizacion/imagenHome_001.png"/> 
</div> 

<div class="container"> 
     <div class="row mt-4"> 
         <div class="col-sm-12"> 
             <h1 class="text-center text-black bg-secondary py-1">Productos Geniales</h1> 
         </div> 

         <div id="carruselProductos" class="carousel slide"> 
             <div class="carousel-inner" id="carrusel-productos"> 

             </div> 
             <button class="carousel-control-prev bg-black rounded-circle" 
                     style="height: 12%; width: 5%; margin-top: 5%;" 
                     type="button" 
                     id="btnArtcLeft" 
                     data-bs-target="#carruselProductos" 
                     data-bs-slide="prev"> 
                 <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
                 <span class="visually-hidden">Previous</span> 
             </button> 
             <button class="carousel-control-next bg-black rounded-circle" 
                     type="button" 
                     id="btnArtcRight" 
                     style="height: 12%; width: 5%; margin-top: 5%;" 
                     data-bs-target="#carruselProductos" 
                     data-bs-slide="next"> 
                 <span class="carousel-control-next-icon" aria-hidden="true"></span> 
                 <span class="visually-hidden">Next</span> 
             </button> 
         </div> 
     </div> 
 </div>


@section Scripts {
    <script src="~/js/carruselPresentacionArticulos.js"></script>
    <script src="~/js/carruselPresentacionProductos.js"></script>
}