<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.bootswatch.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlogCore.styles.css" asp-append-version="true" />

    @* Plugin css *@
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css"/>
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css"/>
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.6.1/tinymce.min.js" referrerpolicy="origin"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container">
                <a class="navbar-brand" asp-area="Client" asp-controller="Home" asp-action="Index">BlogCore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="Client" asp-controller="Home" asp-action="Index">
                                Inicio
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categorias Administrar</a>
                            <div class="dropdown-menu">
                                <a 
                                class="dropdown-item" 
                                asp-action="Index"
                                asp-controller="Categorias"
                                asp-area="Admin">Categorias</a>
                                <a 
                                class="dropdown-item"
                                asp-action="Index"
                                asp-controller="Articulos"
                                asp-area="Admin">Articulos</a>
                                <a 
                                class="dropdown-item"
                                asp-action="Index"
                                asp-controller="Sliders"
                                asp-area="Admin">Sliders</a>
                                <a class="dropdown-item" href="#">Usuarios</a>
                            </div>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="search" placeholder="Buscar por palabra clave">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
                    </form>

                    <partial name="_LoginPartial"/>

                </div>
            </div>
        </nav>

        @if ( ViewBag.Inicio != null )
        {
            @await Html.PartialAsync("~/Views/Shared/VistasReutilizables/_CarruselSlider.cshtml")
        }

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - BlogCore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* Seccion de todos nuestros plugins *@
    
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
