@using BlogCore.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{

}

<ul class="navbar-nav ps-2 d-flex align-items-baseline">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item m-0">
        <a 
            class="nav-link text-white" 
            asp-area="Identity" 
            asp-page="/Account/Manage/Index" 
            title="Manage">Hola @User.Identity?.Name!</a>
    </li>
    <li class="nav-item m-0">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-white">Cerrar Sesion</button>
        </form>
    </li>
}
else
{
    <li class="nav-item p-0">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
    </li>
    <li class="nav-item p-0">
        <a class="nav-link text-white fw-bold" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesion <i class="fa-solid fa-right-to-bracket"></i></a>
    </li>
}

    <li class="nav-item p-0">
        <a class="nav-link"><i class="fs-1 fa-solid text-white fa-cart-shopping"></i> <span class="text-white fw-bold">Carrito</span></a>
    </li>
</ul>
