@using BlogCore.Models
@using BlogCore.Utilidades
@using Microsoft.AspNetCore.Identity
@using BlogCore.AccesoDatos.Data.Repository.IRepository
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUnitofWork UnitOfWork
@inject IDataSecurityRepository DataSecurityRepository
@inject IHttpContextAccessor HttpContextAccesor

@{
    string? cookie = HttpContextAccesor?.HttpContext?.Request.Cookies[DefinitionKeyCookies.keyShoppingCart];
    bool productosPrendientes = false;
    Carrito? carrito = null;

    if (cookie is not null)
    {
       string desencriptarCookie = DataSecurityRepository.desencriptarDatos(cookie!);
       carrito = UnitOfWork.Carrito.GetFirstOrDefault(
        n => n.carrito_sessionId.Equals(desencriptarCookie),
        includeProperties: "carritoCompra"
        );
    }
}

<ul class="navbar-nav ps-2 d-flex align-items-baseline">
@if (SignInManager.IsSignedIn(User))
{
        var identificador = ((ClaimsIdentity)this.User.Identity!).Claims.ToList()[0].Value;

        productosPrendientes = (carrito != null)
        ? (
            carrito.carritoCompra.Count > 0 
            && 
            carrito.IdentityUserId is not null 
            && 
            identificador.Equals(carrito.IdentityUserId)
        ) ? true : false : false;
    
    <li class="nav-item m-0">
        <a 
            class="nav-link text-white" 
            asp-area="Identity" 
            asp-page="/Account/Manage/Index" 
            title="Manage">Hola @User.Identity?.Name!</a>
    </li>
    <li class="nav-item m-0">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-white">Cerrar Sesion</button>
        </form>
    </li>
}
else
{
    productosPrendientes = (carrito != null)
        ? (carrito.carritoCompra.Count > 0 && carrito.IdentityUserId is null) ? true : false : false;

    <li class="nav-item p-0">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
    </li>
    <li class="nav-item p-0">
        <a class="nav-link text-white fw-bold" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesion <i class="fa-solid fa-right-to-bracket"></i></a>
    </li>
}


    <li class="nav-item p-0">
        <a 
            asp-area="Client"
            asp-controller="CarritoCompras"
            asp-action="Index"
            class="nav-link">
            @if ( productosPrendientes )
            {
                <i class="fs-1 fa-solid text-white fa-cart-plus"></i>
            }
            else
            {
                <i class="fs-1 fa-solid text-white fa-cart-shopping"></i> 
            }
            <span class="text-white fw-bold">Carrito</span>
        </a>
    </li>
</ul>
