@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso Denegado";
}

<header class="mt-4 text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">No posees acceso a este tipo de contenido.</p>
</header>
