@page
@model LockoutModel
@{
    ViewData["Title"] = "Bloqueo Cuenta";
}

<div class="mt-4">
    <header>
        <h1 class="text-danger text-center">@ViewData["Title"]</h1>
        <p class="text-danger text-center">Actualmente tu cuenta se encuentra bloqueada</p>
    </header>
</div>
